
.logo {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    border-right: 1px solid #ffb81c;
}

h3 {
    font-family: 'BioSans', sans-serif;
    color: white;
    font-size: 20px;
    line-height: 30px;
    height: 20px;
}

h1 {
    font-family: 'BioSans', sans-serif;
    font-weight: 600;
}


#Navbar .nav-main {
    font-family: 'BioSans', sans-serif;
    color: #c3c3c3;
}
#Navbar .nav-main:hover {
    color: white;
}

#Navbar .nav-extra:hover {
    font-family: 'BioSans', sans-serif;
    color: white;
}

#Navbar .nav-extra {
    font-family: 'BioSans', sans-serif;
    color: #ffb81c;
}

.page-container {
    margin: 7em 18em;
}